fieldset{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

    .espacio{
        position: relative;
        left: 43%;
    }


#campoBusqueda, #campoCreacion{
    margin-top: 10%;
}

    .identificador{
        width: 50%;
    }