#cabecera{
    background: linear-gradient(to left, aquamarine, rgb(27, 252, 177));
    background-color: aquamarine;
}
fieldset{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

    .espacio{
        position: relative;
        left: 43%;
    }


#campoBusqueda, #campoCreacion{
    margin-top: 10%;
}

    .identificador{
        width: 50%;
    }